<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li>
                    <h1>Cashmere</h1>
                    Corporate Style guide
                </li>
                <li>
                    2018
                </li>
                <li>
                    <a class="main-link" href="http://cashmere.healthcatalyst.net">http://cashmere.healthcatalyst.net</a>
                </li>
                <li>
                    Style guide used internally to help guide teams in following UX best practices. As one of the main contributors I created many of the components and help guide the design process
                </li>
                <li>
                    <a href="https://github.com/HealthCatalyst/Fabric.Cashmere">Source</a>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <a href="http://cashmere.healthcatalyst.net">
                <img class="img-fluid capture" src="https://benjaminjandersonstore.blob.core.windows.net/benjaminjandersonblob/cashmere-capture1.png">
            </a>
        </div>
    </div>
</div>