@import './../../Styles/_variables.scss';
@import '~bootstrap/scss/bootstrap';

.thumb-container {
    z-index: 10;
    display: block;
    
    mix-blend-mode: multiply;
    &.color-test {
        background-color: darken($green, 20); 
    }
    &.chess {
        background-color: darken($red, 20); 
    }
    
    &:hover img {
        opacity: 1;
        filter: grayscale(0);
        transform: scale(1.1);
    }

    &:hover h4{
        opacity: 0;
    }

    h4 {
        margin: 0;
        position: absolute;
        top: 36%;
        left: 0;
        z-index: 15;
        width: 100%;
        color: #fff;
        text-align: center;
        font-size: 5rem;
    }

    img {
        opacity: 0.5;
        transition: all 0.2s ease-in-out;
        // &.ng-lazyloaded {
        //     opacity: 0.5;
        // }
    }
}

.thumb-cell {
    overflow: hidden;
    padding: 0;
    
    @include media-breakpoint-up(md) { 
        margin: 10px;
    } 

    @include media-breakpoint-up(lg) { 
        margin: 20px;
    } 

    position: relative;
    
}

