<div class="container">
  <div class="row align-items-center">
    <div class="col-12 col-md-5 thumb-cell">
      <a [routerLink]="['/demo/color-test']">
        <div class="thumb-container color-test">
          <img class="img-fluid" src="http://files.benjaminjanderson.com/benjaminjandersonblob/demo-placeholder.png" [lazyLoad]="'http://files.benjaminjanderson.com/benjaminjandersonblob/demo-color-test.png'"
          />
        </div>
      </a>
    </div>
    <div class="col-12 col-md-5 thumb-cell">
      <a [routerLink]="['/demo/color-test']">
        <div class="thumb-container chess">
          <img class="img-fluid" src="http://files.benjaminjanderson.com/benjaminjandersonblob/demo-placeholder.png" [lazyLoad]="'http://files.benjaminjanderson.com/benjaminjandersonblob/demo-chess.png'"
          />
        </div>
      </a>
    </div>
  </div>
</div>