@import './../../Styles/_variables.scss';
@import '../../../../node_modules/bootstrap/scss/bootstrap';

.thumb-container {
    z-index: 10;
    display: block;
    mix-blend-mode: multiply;
    &.color-test {
        background-color: #0074D9; 
    }
    &.chess {
        background-color: red; 
    }
    
    &:hover img.ng-lazyloaded {
        opacity: 1;
        filter: grayscale(0);
        transform: scale(1.1);
    }

    img {
        opacity: 0;
        transition: all 0.2s ease-in-out;
        &.ng-lazyloaded {
            opacity: 0.5;
        }
    }
}

.thumb-cell {
    overflow: hidden;
    padding: 0;
    
    @include media-breakpoint-up(md) { 
        margin: 10px;
    } 

    @include media-breakpoint-up(lg) { 
        margin: 20px;
    } 
}

