.sortable {
    height: 50px;
    padding: 0;
    margin: 0 0 30px 0;
    display: flex;
    justify-content: space-between;
    li.dnd-sortable-drag {
        transform:scale(1.2);
        border: 1px solid #fff;
    }
    li {
        flex-grow: 1;
        border: 1px solid #333;
        cursor: pointer;
        list-style: none;
        margin: 0 1px 0 0;
        color: #fff;
        padding-top: 8px;

        
    }
}

