<div class="wrapper">
    <div class="header">
        <div class="side"></div>
        <div class="inner">
            <app-nav-bar></app-nav-bar>
        </div>
        <div class="side"></div>
    </div>
    <div class="main">
        <div class="side"></div>
        <div class="inner">
            <h1>Color Test</h1>
            <div [hidden]="!helpVisible">
                <p>
                    Are you among the 1 in 255 women and 1 in 12 men who have some form of color vision deficiency? If you work in a field where
                    color is important, or you’re just curious about your color IQ, take our online challenge to find out.
                    Based on the Farnsworth Munsell 100 Hue Test, this online challenge is a fun, quick way to understand
                    your color vision acuity.
                </p>
                <h4><i class="icon-info-sign"></i>How to play</h4>
                <ol>
                    <li>The first and last color are fixed</li>
                    <li>Drag and drop the colors in each row to arrange them by hue order</li>
                    <li>Click "Score My Test" after sorting all 4 lists</li>
                </ol>
                <p>
                    <a href="http://www.xrite.com/hue-test?pageid=77#sthash.S0BzXpl9.dpuf">See this site for the orignal</a>
                </p>
                <img class="img-fluid" src="http://files.benjaminjanderson.com/benjaminjandersonblob/color-picker-helpgif" />
                <button (click)="hideHelp()" class="btn btn-primary">Lets go!</button>
            </div>
            <div [hidden]="helpVisible">
                <p>
                    Good luck! Remember to Drag and drop the colors in each row to arrange them by hue order
                </p>
                <ul class="sortable" dnd-sortable-container [sortableData]="colorArray1.Colors" [dropZones]="['1']">
                    <li [ngStyle]="getStyle(colorArray1.Color1)"></li>
                    <li *ngFor="let color of colorArray1.Colors; let i = index" [ngStyle]="getStyle(color)" [sortableIndex]="i" dnd-sortable
                        draggable="true" [ngClass]="{'incorrect': color.incorrect }" [dragEnabled]="color.enabled" (onDragStart)="countClick()">
                        <div *ngIf="!!color.message" ngbPopover="{{color.message}}" triggers="mouseenter:mouseleave">&nbsp;</div>
                    </li>
                    <li [ngStyle]="getStyle(colorArray1.Color2)"></li>
                </ul>
                <ul class="sortable" dnd-sortable-container [sortableData]="colorArray2.Colors" [dropZones]="['2']">
                    <li [ngStyle]="getStyle(colorArray2.Color1)"></li>
                    <li *ngFor="let color of colorArray2.Colors; let i = index" [ngStyle]="getStyle(color)" [sortableIndex]="i" dnd-sortable
                        draggable="true" [ngClass]="{'incorrect': color.incorrect }" [dragEnabled]="color.enabled" (onDragStart)="countClick()">
                        <div *ngIf="!!color.message" ngbPopover="{{color.message}}" triggers="mouseenter:mouseleave">&nbsp;</div>
                    </li>
                    <li [ngStyle]="getStyle(colorArray2.Color2)"></li>
                </ul>
                <ul class="sortable" dnd-sortable-container [sortableData]="colorArray3.Colors" [dropZones]="['3']">
                    <li [ngStyle]="getStyle(colorArray3.Color1)"></li>
                    <li *ngFor="let color of colorArray3.Colors; let i = index" [ngStyle]="getStyle(color)" [sortableIndex]="i" dnd-sortable
                        draggable="true" [ngClass]="{'incorrect': color.incorrect }" [dragEnabled]="color.enabled" (onDragStart)="countClick()">
                        <div *ngIf="!!color.message" ngbPopover="{{color.message}}" triggers="mouseenter:mouseleave">&nbsp;</div>
                    </li>
                    <li [ngStyle]="getStyle(colorArray3.Color2)"></li>
                </ul>
                <ul class="sortable" dnd-sortable-container [sortableData]="colorArray4.Colors" [dropZones]="['4']">
                    <li [ngStyle]="getStyle(colorArray4.Color1)"></li>
                    <li *ngFor="let color of colorArray4.Colors; let i = index" [ngStyle]="getStyle(color)" [sortableIndex]="i" dnd-sortable
                        draggable="true" [ngClass]="{'incorrect': color.incorrect }" [dragEnabled]="color.enabled" (onDragStart)="countClick()">
                        <div *ngIf="!!color.message" ngbPopover="{{color.message}}" triggers="mouseenter:mouseleave">&nbsp;</div>
                    </li>
                    <li [ngStyle]="getStyle(colorArray4.Color2)"></li>
                </ul>
                <button (click)="scoreTest()" [hidden]="scoreVisible" class="btn btn-primary">Score My Test</button>
                <button (click)="reset()" [hidden]="!scoreVisible" class="btn btn-secondary">Reset</button>
                <button (click)="showHelp()" class="btn btn-link">Go back</button>
            </div>
            <div [hidden]="!scoreVisible">
                <span class='large-text'>You Scored {{score | percent}}</span>
                <form (ngSubmit)="submitScore()" #colorForm="ngForm">
                    <span>compare with others by submitting your score</span>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="number" class="form-control" [(ngModel)]="age" placeholder="Enter age" name="age" required>
                    </div>
                    <fieldset class="form-group">
                        <label>Gender</label>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input type="radio" class="form-check-input" [(ngModel)]="gender" value="M" name="male">
                                Male
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input type="radio" class="form-check-input" [(ngModel)]="gender" value="F" name="female">
                                Female
                            </label>
                        </div>
                        <button class="btn btn-primary" type="submit" [disabled]="!colorForm.form.valid">Submit</button>
                    </fieldset>
                </form>
                <app-color-test-graph [hidden]="!graphVisible" [data]="data"></app-color-test-graph>
            </div>
        </div>
        <div class="side"></div>
    </div>
</div>
<div class="container" hidden="true">
    <div class="row">
        <div class="col-md-8">

            <h1 data-bind="text: title"></h1>
        </div>
    </div>
    <div class="row" style="display:none">
        <div class="col-md-8">
            <a class="btn" id="btnScore">
                  <i class="icon-ok"></i>&nbsp;Score Test</a>

        </div>

    </div>
    <div class="row">
        <div class="col-md-8">

        </div>

    </div>
    <div class="row">
        <div class="col-md-8">
            <form id="ageForm" style="display: none;">
                <fieldset>
                    <legend>Submit your age and gender to see how everyone else did</legend>
                    <label>Age</label>
                    <input id="age" type="text" placeholder="Type Age here..." style="width: 150px">
                    <label class="radio">
                          <input id="male" type="radio" name="optionsRadios" id="optionsRadios1" value="m" class="required">
                          Male
                      </label>
                    <label class="radio">
                          <input id="female" type="radio" name="optionsRadios" id="optionsRadios2" value="f" class="required">
                          Female
                      </label>
                    <button id="btnSubmitAge" type="submit" class="btn">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row" id="infoRow" style="display: none">
        <div class="col-md-8">
            <h2>Statistics</h2>
            <hr />
            <span id="others" class="large-text"></span>
        </div>
    </div>
    <div id="flot-container" class="clear-fix col-md-8" style="display: none;">
        <div id="flot"></div>
    </div>
</div>

<!--<div class="col-md-2">
            <div class="thumbnail">
                <div class="caption">
                    <h4>My online experiment</h4>
                    <p>I built this game out of pure curiosity on how age and gender determines color sensitivity. I am a web developer and it was a fun to build the two weekends I spent on it. If you have any suggestions feel free to get in contact with me. I owe original credit for the idea for the color test to this <a href="http://www.xrite.com/hue-test?pageid=77" target="_blank">Site</a></p>
                </div>
            </div>
        </div>-->