@{
    ViewData["Title"] = "Home Page";
}



<div class="Aligner">
    <div class="Aligner-item Aligner-item--top"></div>
    <div class="Aligner-item">
        <div id="title">
            BenjaminJAnderson.com
        </div>
    </div>
    <div class="Aligner-item Aligner-item--bottom"></div>
</div>