<form (ngSubmit)="onSubmit()" #heroForm="ngForm" *ngIf="!showWin">
  <h1>Question # {{questionNumber + 1}}</h1>
  <h2 (click)="headerClick()" [innerText]="question"></h2>
  <div class="form-group">
    <label for="answer">Answer Here</label>
    <input type="text" class="form-control" required [(ngModel)]="answer" name="name">
  </div>

  <button type="submit" class="btn btn-success">Submit</button>

  <div class="card" *ngIf="clue">
    <div class="card-block">
      <h4 class="card-title">Clue # {{questionNumber}}</h4>
      <em>You will want to write this down</em>
      <p class="card-text bold" [innerText]="clue"></p>
    </div>
  </div>
</form>

<div class="card card-outline-warning mb-3 text-center" *ngIf="showWrong">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p class="warn">Wrong! Try again!</p>
    </blockquote>
  </div>
</div>

<div class="card card-outline-warning mb-3 text-center" *ngIf="showWin">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p class="win">CONGRATULATIONS! YOU HAVE FINISHED THE FIRST PART. TEXT BEN and he will send you the second part</p>
    </blockquote>
  </div>
</div>