@import './../../Styles/_variables.scss';
@import '../../../../node_modules/bootstrap/scss/bootstrap';

:host{
  text-align: center; 
  height: 100%;
}

#home-content {
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   @include media-breakpoint-up(md) {
    padding-top: 50px;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 100px;
  }
}

.lead {
  @include media-breakpoint-up(sm) {
      font-size:1.5em;
  }

  @include media-breakpoint-up(md) {
    font-size:2em;
  }

  @include media-breakpoint-up(lg) {
      font-size:2.5em;
  }
}

#me {
  color:$accent;
}

// cursor

.blinking-cursor {
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: -3px;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: $white;
  }
}

// jumbotron
.jumbotron{
  background-color: $black;
  color: #FAFAFA;
  background-image: url(http://files.benjaminjanderson.com/benjaminjandersonblob/shattered.png);
  // border-bottom: 10px solid $primary;
  // border-top: 10px solid $primary;
  border-radius: 0;
}

