<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <app-nav-bar></app-nav-bar>
                </div>
            </div>
            <div id="greeting" class="inner cover">
                <h1 class="cover-heading">HELLO</h1>
                <p class="lead">My name is <span id="name">Ben</span> and I make things for the internet. I currently live in Salt Lake City,
                    Utah and work at Health Catalyst.</p>
            </div>
            <div class="mastfoot">
                <div class="inner">
                    <a class="fa-stack fa-lg facebook" href="https://www.facebook.com/benjanderson">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-main" aria-hidden="true"></i>
                    </a>
                    <a class="fa-stack fa-lg github" href="https://github.com/benjanderson">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-main" aria-hidden="true"></i>
                    </a>
                    <a class="fa-stack fa-lg stack-overflow" href="https://stackoverflow.com/users/810850/ben-anderson">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-stack-overflow fa-stack-1x fa-main" aria-hidden="true"></i>
                    </a>
                    <a class="fa-stack fa-lg linked-in" href="https://www.linkedin.com/in/benjaminjaredanderson/">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-main" aria-hidden="true"></i>
                    </a>
                </div>
            </div>            
        </div>
    </div>
</div>