:host{
  height:100%;
  display: block;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

 .cover-heading, .lead{
    animation: fadein 3s;
  }