@import './../../Styles/_variables.scss';

:host{
  height:100%;
  display: block;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.accent{
  color:$accent;
}

/*
 * Footer
 */

.footer {
  a{
    color: $secondary;
    margin: .2em;
  }

  text-shadow: none;
  color: $secondary;
  .fa-main {
    color: $background;
  }

  .facebook:hover,.facebook:active{
    color: rgb(59, 89, 152);
    .fa-main {
      color: $white;
    }
  }

  .github:hover,.github:active{
    color: $black;
    .fa-main {
      color: $white;
    }
  }

  .stack-overflow:hover,.stack-overflow:active{
    color: $white;
    .fa-main {
      color: rgb(244, 128, 36);
    }
  }

  .linked-in:hover,.linked-in:active{
    color: rgb(1, 119, 181);
    .fa-main {
      color: $white;
    }
  }

  .medium:hover,.medium:active{
    color: $white;
    .fa-main {
      color: rgb(11, 227, 112);
    }
  }
}

.wrapper {
  text-align: center;
  background: url("http://files.benjaminjanderson.com/benjaminjandersonblob/wyoming-mountains.jpg") no-repeat center center fixed;
  background-size: cover;
}

.inner {
  background-color: rgba(100, 100, 100, .7);
}

.cover-heading, .lead{
  animation: fadein 3s;
}



.side {
  opacity: 0;
  background-color: transparent;
}
