<div class="wrapper" [ngClass]="theme">
    <div class="header">
        <div class="side"></div>
        <div class="inner">
            <app-nav-bar></app-nav-bar>
        </div>
        <div class="side"></div>
    </div>
    <div class="main">
        <div class="side"></div>
        <div class="inner">
            <router-outlet></router-outlet>
        </div>
        <div class="side"></div>
    </div>
    <div class="footer" *ngIf="showFooter">
        <div class="side"></div>
        <div class="inner">
            <app-footer></app-footer>
        </div>
        <div class="side"></div>
    </div>
</div>