@import './_variables.scss';

.theme-nature {
  &.wrapper {
    @include desktop{
      background: url("http://files.benjaminjanderson.com/benjaminjandersonblob/wyoming-mountains.jpg") no-repeat center center fixed;
      background-size: cover;
    }
    @include tablet{
      background: url("http://files.benjaminjanderson.com/benjaminjandersonblob/wyoming-mountains.jpg") no-repeat center center fixed;
      background-size: cover;
    }
    @include phone{
      // no background to save data
    }
  }

  .inner {
    background-color: rgba($background, .7);
  } 

  .side {
    opacity: 0;
    background-color: transparent;
  }
}