@import './_variables.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap';

.theme-nature {
      @include media-breakpoint-up(md) { 
        background: url("http://files.benjaminjanderson.com/benjaminjandersonblob/wyoming-mountains.jpg") no-repeat center center fixed;
        background-size: cover;
      }

     .container {
        background-color: rgba($background, .7);
    }
}