@import './_variables.scss';
@import './_ngbootstrap.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/font-awesome/scss/font-awesome';

html,
body {
   height: 100%;
   background-color: $background;
   color: $foreground;

  ::selection {
        background: $yellow;
  }
}