@import './_variables.scss';
@import './_themes.scss';
@import './_ngbootstrap.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/font-awesome/scss/font-awesome';

html,
body {
  height: 100%;
  background-color: $background;
}

// *** Layout ***
.wrapper {
  height:100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.footer, .header, .main {
  display: flex;
}

.main {
  height:100%;
  .inner {
    display: flex;
    flex-direction: column;
  }
}

.inner {
  color: $foreground;
  background-color: $background;  
  
  .lead {
    @include phone{
      font-size:1.5em;
    }
    @include tablet{
      font-size:2em;
    }
    @include desktop{
      font-size:2.5em;
    }
  }
}

.side {
  background-color: $background;
}

.inner{
  @include phone{
    padding: 5px;
    flex: 12;
  }
  @include tablet{
    padding: 10px;
    flex: 6;
  }
  @include desktop{
    padding: 15px;
    flex: 2;
  }
}

.side{
   flex: 1;
}

// *** Global Element Styles *** 
.accent {
  color:$accent;
}