@import './variables.scss';

html, body {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: $foreground;
  background-color:$background;
}