@import './../../Styles/_variables.scss';
@import '~bootstrap/scss/bootstrap';

:host{
  height: 100%;
}

.mug {
  border-radius: 50%;
  margin: 10px;
}

#home-content {
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   @include media-breakpoint-up(md) {
    padding-top: 20px;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 50px;
  }
}

.lead {
  @include media-breakpoint-up(sm) {
      font-size:1.5em;
      min-height: 132px;
  }

  @include media-breakpoint-up(md) {
    font-size:2em;
    min-height: 132px;
  }

  @include media-breakpoint-up(lg) {
      font-size:2.5em;
      min-height: 181px;
  }
}

#me {
  color:$accent;
}

// cursor

.blinking-cursor {
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: -3px;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: $foreground;
  }
}

