@import './../../Styles/_variables.scss';

/*
 * Header
 */

.masthead-brand {
  margin-bottom: 0;
}

.masthead {
  margin-bottom: 2rem;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: $secondary;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  &:hover :not(.active) {
    color: lighten($secondary, 10);
  }
}

.nav-masthead .nav-link:hover:not(.active),
.nav-masthead .nav-link:focus:not(.active) {
  border-bottom-color: $secondary;
  &:hover {
    color: lighten($secondary, 10);
  }
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: $white;
  border-bottom-color: $white;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}