<div class="jumbotron one">
  <div class="container">
    <h1 class="display-4">Experienced web developer specializing in front end and .net technologies</h1>
    <hr class="my-4">
    <p class="lead">My name is Ben Anderson and I currently work as a Senior Sofware Engineer at Health Catalyst. I am Proficient at ASP.net
      MVC/Web forms, JavaScript, CSS, Web services, and data management through SQL Server. </p>
  </div>
</div>
<div class="container skills">
  <h2 class="page-header">Skills & Expertise</h2>
  <div class="row">
    <div class="col-md-4">
      <i class="fa fa-3x fa-server" aria-hidden="true"></i>
      <h3>Backend development</h3>
      <p>C#, ASP.net/ASP.net core, Entity Framework, Sql Server, Mongo db</p>
    </div>
    <div class="col-md-4">
      <i class="fa fa-3x fa-code" aria-hidden="true"></i>
      <h3>Frontend Development</h3>
      <p>Started with JQuery and knockout moving onto AngularJS / Angular have dabbled in react</p>
    </div>
    <div class="col-md-4">
      <i class="fa fa-3x fa-users" aria-hidden="true"></i>
      <h3>Project Managment</h3>
      <p>Team Lead, Scrum Master, Software Architect, Lead Developer</p>
    </div>
  </div>
</div>

<div class="jumbotron two">
  <div class="container">
    <blockquote class="blockquote">
      <p class="mb-0 display-4">Ben is an excellent web developer, and has a real talent for designing software systems. If I ever needed something
        done, I knew Ben could figure it out, and implement it efficiently. He is very focused on the customer, and worked
        well with me and his team members.</p>
      <footer class="blockquote-footer">Max Barfuss, former Development manager at eFORCE</footer>
    </blockquote>
  </div>
</div>

<div class="container">
  <h2 class="page-header">Professional timeline</h2>
  <section id="cd-timeline" class="cd-container">
    <div class="circle">
    </div>
    <div class="date">{{ currentYear }}</div>
    <div class="cd-timeline-block" *ngFor="let item of history">
      <div class="cd-timeline-img" [ngClass]="item.class">
        <img class="img" [src]="item.icon" alt="Picture">
      </div>
      <div class="cd-timeline-content" [ngClass]="item.class">
        <h2>{{item.title}}</h2>
        <h3>{{item.subtitle}}</h3>
        <ul>
          <li *ngFor="let s of item.description">{{s}}</li>
        </ul>
        <fieldset *ngFor="let project of item.projects">
          <legend>{{project.title}}</legend>
          <p class="small">{{project.description}}</p>
          <div *ngIf="project.tags && project.tags.length">
            <small>Technology Used</small>
            <ul class="tags">
              <li *ngFor="let tag of project.tags">{{tag}}</li>
            </ul>
          </div>
        </fieldset>
        <span class="cd-date">{{item.date}}</span>
      </div>
    </div>
  </section>
</div>

<div class="jumbotron three">
  <div class="container">
    <h1 class="display-4">Download Resumé</h1>
    <p class="lead">Most recuiting happens with some form of hard copy</p>
    <a class="btn btn-primary btn-lg" href="http://files.benjaminjanderson.com/benjaminjandersonblob/Ben%20Anderson%20Resume.pdf" role="button">Download</a>
  </div>
</div>