// Credit for vertical timeline (heavily modified)
// https://codyhouse.co/gem/vertical-timeline/ and https://codepen.io/codyhouse/pen/FdkEf

@import '../../../../node_modules/bootstrap/scss/bootstrap';
@import './../../Styles/_variables.scss';

// variables - colors
$primary-text: $black; 
$secondary-text: lighten($black, 25); 
$link: #acb7c0; // anchor tags

// timeline icon - colors
$project-color:  $green; 
$company-color:  $orange; 


//Monochromatic - https://color.adobe.com/create/color-wheel/?base=2&rule=Monochromatic&selected=0&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.3588235294117647,0.8999999999999999,0.658823529411663,0.46579520697167753,0.6666666666666666,0.5771478639764707,0.23921568627450981,0.6,0.4392156862745098,0.6288235294117646,0.8999999999999999,0.7791496163682354,0.15947712418300652,0.39999999999999997,0.29281045751629464&swatchOrder=0,1,2,3,4
$color1: #3D9970;
$color2: #77AA93;
$color3: #29664B;
$color4: #A0E5C7;
$color5: #5BE5A8;  

.container {
	// add top and bottom padding to every section
	padding-top: 90px;
	padding-bottom: 90px;
}

.jumbotron {
	&.one {
		background-color: $color2;
	}
	&.two {
		background-color: $color3;
	}
	&.three {
		background-color: $color4;
		margin-bottom: 0;
		color: $foreground;
	}
	color: $white;
}

.blockquote-footer {
    color: $white;
}

fieldset {
	border: 1px groove #ddd;
	padding: 0 1em 1em 1em;
	margin: 0 0 1em 0;
	box-shadow:  0px 0px 0px 0px #000;

	legend {
        font-size: 1.2em;
        font-weight: bold;
        text-align: left;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }
}

// mixins - rem fallback - credits: http://zerosixthree.se/

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// mixins - border radius

@mixin border-radius($radius:.5em) {
  border-radius: $radius;
}

// layout - breakpoints
   
$S:     320px;   
$M:     768px;     
$L:     1170px;     

// layout - media queries
@mixin MQ($canvas) {
  @if $canvas == S {
	@include media-breakpoint-up(sm) { @content; }
  }
  @else if $canvas == M {
   @include media-breakpoint-up(md) { @content; } 
  }
  @else if $canvas == L {
   @include media-breakpoint-up(lg) { @content; } 
  }
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.page-header {
	text-align: center;
}

.skills {
	text-align: center;

	h2 {
		margin-bottom: 2rem;
	}
}

.cd-container { /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
	width: 90%;
	max-width: $L; // breakpoints inside partials > _layout.scss
	margin: 0 auto;

	&::after { /* clearfix */
		content: '';
		display: table;
		clear: both;
	}
}

#cd-timeline {
	color: $secondary-text;
	position: relative;
	padding: 2em 0;
	margin: {
		top: 2em;
		bottom: 2em;
	}

	&::before {
		/* this is the vertical line */
		content: '';
		position: absolute;
		top: 0;
		left: 18px;
		height: 100%;
		width: 4px;
		background: $gray;
    }
    
    .circle {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $gray;
        top: -5px;
        left: 5px;
        
        @include MQ(L) {
            left: 50%;
			margin-left: -14px;
        }
    }

    .date {
        position: absolute;
        @include font-size(25px);
        color: $secondary-text;
        top: -10px;
        left: 55px;
        
        @include MQ(L) {
            top: -40px;
            left: 50%;
			margin-left: -24px;
        }
    }

	@include MQ(L) {
		margin: {
			top: 3em;
			bottom: 3em;
		}

		&::before {
			left: 50%;
			margin-left: -2px;
		}
	}
}

.cd-timeline-block {
	position: relative;
	margin: 2em 0;
	@include clearfix;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	@include MQ(L) {
		margin: 4em 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.cd-timeline-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0 0 0 4px $gray, inset 0 2px 0 rgba(#000, .08), 0 3px 0 4px rgba(#000, .05) ;

	img {
		display: block;
		width: 24px;
		height: 24px;
		position: relative;
		left: 50%;
		top: 50%;
		margin-left: -12px;
		margin-top: -12px;
		@include MQ(L) {
			width: 40px;
			height: 40px;
			margin-left: -20px;		
			margin-top: -20px;		
		}
	}

	&.cd-hc {
		background-color: #00AEEF;
	}

	&.cd-eforce {
		background-color: #F8981D;
	}

	&.cd-usu {
		background-color: #0F2439;
	}

	&.cd-project {
		background: $project-color;
	}

	@include MQ(L) {
		width: 60px;
		height: 60px;
		left: 50%;
		margin-left: -30px;		
	}
}


.cd-timeline-content {
	margin-left: 60px;
	background: $background;
	@include border-radius;
	padding: 1em;
	border: 1px solid $gray;
	box-shadow: 0 3px 0 darken($background, 25%);
	@include clearfix;

	h2 {
		color: $primary-text;
	}

	p, .cd-read-more, .cd-date {
		@include font-size(13px);
	}

	.cd-read-more, .cd-date {
		display: inline-block;
	}

	p {
		margin: 0 0 1em 0;
		line-height: 1.6;
    }    

	.cd-date {
		float: left;
		padding: .8em 0;
		//opacity: .8;
	}

	.tags {
		list-style: none;
		padding: 0;
	}

	.tags>li {
		background-color: #639bcc;
		border: 1px solid #639bcc;
		border-radius: 2px;
		padding: 2px 6px;
		color: white;
		display: inline;
		margin: 2px;
		font-size: 0.8rem;
		white-space: nowrap
	}

	&::before {
		content: '';
		position: absolute;
		top: 16px;
		right: 86.5%;
		height: 0;
		width: 0;
		border: 7px solid transparent;
		border-right: 7px solid $gray;
	}

	@include MQ(M) {
		h2 {
			@include font-size(24px);
        }
        h3 {
			@include font-size(18px);
		}

		p {
			@include font-size(16px);
		}

		.cd-read-more, .cd-date {
			@include font-size(14px);
		}

		&::before {
			right: 90%;
		}
	}

	@include MQ(L) {
		margin-left: 0;
		padding: 1.6em;
		width: 43%;

		&::before {
			top: 24px;
			left: 43%;
			border-color: transparent;
			border-left-color: $gray;
		}

		.cd-read-more {
			float: left;
		}

		.cd-date {
			position: absolute;
			width: 150px;
			left: 55%;
			top: 6px;
			@include font-size(16px);
		}

		.cd-timeline-block:nth-child(even) & {
			float: right;

			&::before {
				top: 24px;
				left: auto;
				right: 43%;
				border-color: transparent;
				border-right-color: $gray;
			}

			.cd-read-more {
				float: right;
			}

			.cd-date {
				left: auto;
				right: 55%;
				text-align: right;
			}
		}
	}
}

